In [37]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
from random import sample
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

definitions

In [38]:
%run ./WB_LWF_00_functions.ipynb

In [40]:
imports(1, "WB_LWF_dataset.xlsx")

IN
initial import 1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1452 entries, 0 to 1451
Columns: 173 entries, CampoComum to merge_data
dtypes: float64(2), int64(5), object(166)
memory usage: 1.9+ MB
Floods None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   questionnaire         161 non-null    object
 1   question_code         161 non-null    object
 2   response_code         161 non-null    object
 3   question_phrasing_pt  161 non-null    object
 4   question_phrasing_en  161 non-null    object
 5   question_type         161 non-null    object
 6   question_subtype      35 non-null     object
 7   question_cat          122 non-null    object
 8   quant_uniq_answers    161 non-null    int64
 9   answer_options        143 non-null    object
 10  unique_answers        161 non-null    object
dtypes: int64(1), object(10)
memory usage: 14.0+ KB
Questions:  None

In [41]:
floods.columns

Index(['CampoComum', 'identrevista', 'imei', 'A4', 'A6', 'A8', 'A9',
       'memberid', 'B11', 'B12',
       ...
       'A274', 'A275', 'A276', 'A277', 'A278', 'A279', 'A283', 'A284', 'A285',
       'merge_data'],
      dtype='object', length=173)

In [42]:
drops()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1451 entries, 0 to 1451
Columns: 160 entries, CampoComum to A285
dtypes: float64(2), int64(2), object(156)
memory usage: 1.8+ MB
Floods None

In [43]:
floods

,CampoComum,A8,A9,B11,B12,B13,B14,B15,B16,B17,...,A271,A272,A273,A274,A275,A278,A279,A283,A284,A285
0,35157307017343136,"Nesta casa, neste bairro",6.0,Neto/Neta,Masculino,7 Anos,Ensino fundamental incompleto,Estudante,NaN,Instituição Pública,...,"Sim, provavelmente",Preparado,Governo,Proprietário da casa,Não,0,Nao,Não,Não,3 Quantidade
1,35157307018830654,"Nesta casa, neste bairro",4.0,Filho/Filha,Feminino,2 Anos,Sem instrução,Vai à creche,NaN,NaN,...,"Sim, com certeza",Nada preparado,NS/NR,NS/NR,Sim,0,51984990517,NaN,Não,1 Quantidade
2,35157307018245726,"Nesta casa, neste bairro",2.0,Você mesmo,Masculino,23 Anos,Ensino fundamental incompleto,Desempregado,NaN,NaN,...,"Sim, com certeza",Preparado,Governo,Governo & Outro(s),Sim,0,985359167,Não,Não,3 Quantidade
3,35157307018088134,"Nesta casa, neste bairro",3.0,Você mesmo,Feminino,56 Anos,Ensino fundamental incompleto,Dona de casa,NaN,NaN,...,"Sim, provavelmente",Nada preparado,Governo,Governo,Sim,0,986602721,NaN,Não,1 Quantidade
4,35157307017343133,"Nesta casa, neste bairro",9.0,Filho/Filha,Masculino,25 Anos,Ensino fundamental completo,Desempregado,NaN,NaN,...,"Sim, provavelmente",Preparado,Governo,NS/NR,Não,0,Não,Não,Não,Nenhuma
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1447,35157307018385129,"Nesta casa, neste bairro",6.0,Você mesmo,Feminino,48 Anos,Ensino fundamental incompleto,Autônomo,Serviços domésticos,NaN,...,"Sim, provavelmente",Preparado,Governo,Governo,NS/NR,0,51997236674,Não,Sim,6 Quantidade
1448,35157307018245756,"Nesta casa, neste bairro",8.0,Filho/Filha,Masculino,16 Anos,Alfabetização de jovens e adultos (ensino fund...,Estudante,NaN,Instituição Pública,...,"Sim, com certeza",Preparado,Outro(s),Governo & Outro(s),Talvez,0,81301312,NaN,Não,1 Quantidade
1449,35157307018195462,"Em outro local, no município de Porto Alegre, ...",2.0,Parceiro/Marido/Esposa,Masculino,49 Anos,Ensino fundamental incompleto,Inativo (aposentado e outros),NaN,NaN,...,"Sim, provavelmente",Preparado,Governo,Comunidade,Sim,0,32031623,NaN,Não,4 Quantidade
1450,35157307018245745,"Nesta casa, neste bairro",2.0,Parceiro/Marido/Esposa,Masculino,54 Anos,Ensino fundamental incompleto,Trabalho remunerado (com,Outro(s),NaN,...,"Sim, provavelmente",Preparado,Governo,Governo,Talvez,0,996510773 \n998568140,Não,Não,3 Quantidade
1451,35157307018216831,Em outro município do Rio Grande do Sul,3.0,Você mesmo,Feminino,20 Anos,Ensino fundamental completo,Autônomo,Comércio,NaN,...,"Sim, provavelmente",NS/NR,Governo,Governo & Outro(s),Sim,0,95813490,Não,Sim,3 Quantidade

In [44]:
questionCleanUp()

In [45]:
floods.tail()

,CampoComum,P008,P009,P011,P012,P013,P014,P015,P016,P017,...,P271,P272,P273,P274,P275,P278,P279,P283,P284,P285
1447,35157307018385129,"Nesta casa, neste bairro",6.0,Você mesmo,Feminino,48 Anos,Ensino fundamental incompleto,Autônomo,Serviços domésticos,NaN,...,"Sim, provavelmente",Preparado,Governo,Governo,NS/NR,0,51997236674,Não,Sim,6 Quantidade
1448,35157307018245756,"Nesta casa, neste bairro",8.0,Filho/Filha,Masculino,16 Anos,Alfabetização de jovens e adultos (ensino fund...,Estudante,NaN,Instituição Pública,...,"Sim, com certeza",Preparado,Outro(s),Governo & Outro(s),Talvez,0,81301312,NaN,Não,1 Quantidade
1449,35157307018195462,"Em outro local, no município de Porto Alegre, ...",2.0,Parceiro/Marido/Esposa,Masculino,49 Anos,Ensino fundamental incompleto,Inativo (aposentado e outros),NaN,NaN,...,"Sim, provavelmente",Preparado,Governo,Comunidade,Sim,0,32031623,NaN,Não,4 Quantidade
1450,35157307018245745,"Nesta casa, neste bairro",2.0,Parceiro/Marido/Esposa,Masculino,54 Anos,Ensino fundamental incompleto,Trabalho remunerado (com,Outro(s),NaN,...,"Sim, provavelmente",Preparado,Governo,Governo,Talvez,0,996510773 \n998568140,Não,Não,3 Quantidade
1451,35157307018216831,Em outro município do Rio Grande do Sul,3.0,Você mesmo,Feminino,20 Anos,Ensino fundamental completo,Autônomo,Comércio,NaN,...,"Sim, provavelmente",NS/NR,Governo,Governo & Outro(s),Sim,0,95813490,Não,Sim,3 Quantidade

selecting only those answers that are of numerical type \
creating subsets for every sub_type

In [46]:
change_formats()

      questionnaire question_code response_code  \
0  Household survey          P008            A8
1  Household survey          P009            A9
2  Household survey          P012           B12
3  Household survey          P013           B13
4  Household survey          P014           B14

                                question_phrasing_pt  \
0  Onde você morava quando ocorreu a grande enche...
1  Quantas pessoas moram neste domicílio atualmente?
2                                             Gênero
3                                        Idade Atual
4                              Nível de escolaridade

                                question_phrasing_en     question_type  \
0  Where did you live when there was the great fl...  multiple answers
1        How many people live in this household now?         numerical
2                                              Genre  multiple answers
3                                        Current age         numerical
4                                 Level of education  multiple answers

  question_subtype question_cat  quant_uniq_answers  \
0              NaN          SEC                   7
1            float          SEC                  15
2              NaN          SEC                   4
3            years          SEC                 115
4              NaN          SEC                  13

                                      answer_options  \
0  1 - Nesta residência, neste bairro, \n2 - Fora...
1                                          numerical
2             1 - Feminino, 2 - Masculino, 3 - NS/NR
3                                          numerical
4  1 - Sem instrução, 2 - Educação infantil (crec...

                                      unique_answers
0  ['Nesta casa, neste bairro' 'Fora desta casa, ...
1   3.,  2., 12.,  4.,  1.,  8.,  5.,  6.,  7.,  ...
2               ['Feminino' 'Masculino' nan 'NS/NR']
3  ['60 Anos' '50 Anos' '26 Anos' '53 Anos' '59 A...
4  ['Ensino fundamental incompleto' 'Ensino médio...

In [47]:
floods.head()

,CampoComum,P008,P009,P011,P012,P013,P014,P015,P016,P017,...,P137N,P139N,P200N,P218N,P166N,P266N,P285N,P097N,P142N,P264N
0,35157307017343136,"Nesta casa, neste bairro",6.0,Neto/Neta,Masculino,7 Anos,Ensino fundamental incompleto,Estudante,NaN,Instituição Pública,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,35157307018830654,"Nesta casa, neste bairro",4.0,Filho/Filha,Feminino,2 Anos,Sem instrução,Vai à creche,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,35157307018245726,"Nesta casa, neste bairro",2.0,Você mesmo,Masculino,23 Anos,Ensino fundamental incompleto,Desempregado,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,35157307018088134,"Nesta casa, neste bairro",3.0,Você mesmo,Feminino,56 Anos,Ensino fundamental incompleto,Dona de casa,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,35157307017343133,"Nesta casa, neste bairro",9.0,Filho/Filha,Masculino,25 Anos,Ensino fundamental completo,Desempregado,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

numerical

In [48]:
#filtering rows based on their " Meses" and " Anos" values
#' Meses'
#' Anos'
yearsQuestionList=[]
for values in newColumnsDict['years']:
    print(values)
    searchDestroy(values, ' Meses', 0.08)
    searchDestroy(values, ' Anos', 1)
    searchDestroy(values, 'Sempre morei nesta casa', 99999)
    yearsQuestionList.append(values)
    yearsQuestionList.append(values+'N')
floods.loc[randSample][yearsQuestionList]

P013
P031

         P013  P013N     P031  P031N
7     51 Anos   51.0  13 Anos  13.00
39    21 Anos   21.0  10 Anos  10.00
47     6 Anos    6.0   8 Anos   8.00
64    31 Anos   31.0  12 Anos  12.00
92    54 Anos   54.0  32 Anos  32.00
130   10 Anos   10.0  23 Anos  23.00
157   34 Anos   34.0  50 Anos  50.00
203   23 Anos   23.0  22 Anos  22.00
223   46 Anos   46.0  21 Anos  21.00
433    5 Anos    5.0   4 Anos   4.00
440   73 Anos   73.0  31 Anos  31.00
599   45 Anos   45.0   2 Anos   2.00
675   58 Anos   58.0  12 Anos  12.00
765   22 Anos   22.0  20 Anos  20.00
835    1 Anos    1.0  16 Anos  16.00
842   29 Anos   29.0  2 Meses   0.16
865   10 Anos   10.0  7 Meses   0.56
976   61 Anos   61.0  40 Anos  40.00
995   10 Anos   10.0  2 Meses   0.16
1002  30 Anos   30.0   2 Anos   2.00
1050  64 Anos   64.0  48 Anos  48.00
1089  50 Anos   50.0   5 Anos   5.00
1172  11 Anos   11.0  10 Anos  10.00
1189  42 Anos   42.0  18 Anos  18.00
1439   5 Anos    5.0    NS/NR    NaN

In [49]:
#' Semanas'
#' Dias'
#'Irreparável'
#'Ainda não voltou ao normal'
daysQuestionList = []
for values in newColumnsDict['days']:
    print(values)
    searchDestroy(values, ' Semanas', 7)
    searchDestroy(values, ' Dias', 1)
    searchDestroy(values, 'Irreparável', 99999)
    searchDestroy(values, 'Ainda não voltou ao normal', 99999)
    daysQuestionList.append(values)
    daysQuestionList.append(values+'N')
floods.loc[randSample][daysQuestionList]

P134
P136
P138
P155
P164
P169
P172
P179
P187
P190
P194
P198
P202
P205
P208
P210
P220

,P134,P134N,P136,P136N,P138,P138N,P155,P155N,P164,P164N,...,P202,P202N,P205,P205N,P208,P208N,P210,P210N,P220,P220N
7,NaN,NaN,48 Semanas,336.0,NaN,NaN,NaN,NaN,NaN,NaN,...,14 Dias,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,Irreparável,1050.0,Irreparável,392.0,NaN,NaN,NaN,NaN,...,1 Meses,NaN,NaN,NaN,NaN,NaN,20 Dias,20.0,NaN,NaN
47,NaN,NaN,Irreparável,1050.0,Irreparável,392.0,NaN,NaN,Ainda não voltou ao normal,378.0,...,4 Semanas,28.0,1 Semanas,7.0,12 Semanas,84.0,NaN,NaN,2 Semanas,14.0
64,NaN,NaN,Irreparável,1050.0,Irreparável,392.0,NaN,NaN,NaN,NaN,...,18 Dias,18.0,15 Dias,15.0,NaN,NaN,15 Dias,15.0,8 Dias,8.0
92,NaN,NaN,Irreparável,1050.0,NS/NR,NaN,NaN,NaN,NaN,NaN,...,20 Dias,20.0,20 Dias,20.0,NaN,NaN,NaN,NaN,NaN,NaN
130,NaN,NaN,3 Dias,3.0,NaN,NaN,3 Dias,3.0,NaN,NaN,...,NaN,NaN,1 Semanas,7.0,1 Semanas,7.0,NaN,NaN,24 Horas,NaN
157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3 Dias,3.0
203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3 Dias,3.0,4 Semanas,28.0,NaN,NaN,NaN,NaN,1 Semanas,7.0
433,NaN,NaN,NaN,NaN,NaN,NaN,4 Semanas,28.0,NaN,NaN,...,NS/NR,NaN,2 Semanas,14.0,2 Semanas,14.0,2 Semanas,14.0,4 Semanas,28.0
440,NaN,NaN,NaN,NaN,NaN,NaN,20 Dias,20.0,20 Dias,20.0,...,15 Meses,NaN,NaN,NaN,NaN,NaN,15 Dias,15.0,20 Dias,20.0
599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2 Dias,2.0,NaN,NaN,NaN,NaN,2 Dias,2.0,4 Dias,4.0
675,NaN,NaN,NaN,NaN,NS/NR,NaN,NaN,NaN,NaN,NaN,...,15 Semanas,105.0,NaN,NaN,NaN,NaN,2 Semanas,14.0,4 Semanas,28.0
765,NaN,NaN,NaN,NaN,NaN,NaN,3 Horas,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 Dias,1.0
835,Ainda não voltou ao normal,672.0,6 Dias,6.0,12 Horas,NaN,NaN,NaN,NaN,NaN,...,5 Dias,5.0,NaN,NaN,NaN,NaN,4 Dias,4.0,5 Dias,5.0
842,NaN,NaN,7 Semanas,49.0,30 Semanas,210.0,NaN,NaN,NaN,NaN,...,1 Meses,NaN,NaN,NaN,NaN,NaN,4 Semanas,28.0,2 Horas,NaN
865,NaN,NaN,52 Semanas,364.0,3 Dias,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3 Dias,3.0,NaN,NaN,1 Semanas,7.0
976,NaN,NaN,16 Semanas,112.0,NaN,NaN,NaN,NaN,NaN,NaN,...,10 Dias,10.0,NaN,NaN,NaN,NaN,4 Semanas,28.0,NaN,NaN
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1 Semanas,7.0,8 Semanas,56.0,8 Semanas,56.0,1 Semanas,7.0,2 Semanas,14.0
1050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,24 Horas,NaN,24 Horas,NaN,NaN,NaN,24 Horas,NaN
1089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15 Dias,15.0,NS/NR,NaN,NaN,NaN,NaN,NaN,15 Dias,15.0
1189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15 Dias,15.0,NaN,NaN,NaN,NaN,10 Dias,10.0,1 Semanas,7.0
1439,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
#'Não soube antes'
#' Minutos'
#' Dias'
#' Semanas'
#' Horas'
hoursQuestionList = []
for values in newColumnsDict['hours']:
    print(values)
    searchDestroy(values, 'Ainda não voltou ao normal', 673)
    searchDestroy(values, ' Meses', 672)
    searchDestroy(values, ' Semanas', 168)
    searchDestroy(values, ' Dias', 24)
    searchDestroy(values, ' Horas', 1)
    searchDestroy(values, ' Minutos', 0.01667)
    searchDestroy(values, 'Não soube antes', 0)
    hoursQuestionList.append(values)
    hoursQuestionList.append(values+'N')
floods.loc[randSample][hoursQuestionList]

P064
P099
P122
P135
P137
P139
P200
P218

,P064,P064N,P099,P099N,P122,P122N,P135,P135N,P137,P137N,P139,P139N,P200,P200N,P218,P218N
7,15 Dias,360.0,17 Dias,408.0,4 Meses,2688.0,NaN,NaN,48 Semanas,8064.0,NaN,NaN,14 Dias,336.0,NaN,NaN
39,Não soube antes,0.0,20 Dias,480.0,1 Meses,672.0,NaN,NaN,Irreparável,NaN,NaN,NaN,1 Meses,672.0,NaN,NaN
47,3 Dias,72.0,8 Semanas,1344.0,Irreparável,NaN,NaN,NaN,Ainda não voltou ao normal,NaN,Irreparável,NaN,4 Semanas,672.0,NaN,NaN
64,Não soube antes,0.0,15 Dias,360.0,18 Dias,432.0,Irreparável,NaN,Irreparável,NaN,NaN,NaN,18 Dias,432.0,NaN,NaN
92,Não soube antes,0.0,20 Dias,480.0,1 Meses,672.0,NaN,NaN,Irreparável,NaN,NaN,NaN,20 Dias,480.0,NaN,NaN
130,Não soube antes,0.0,4 Dias,96.0,10 Dias,240.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,Não soube antes,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,Não soube antes,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,1 Semanas,168.0,2 Semanas,336.0,3 Semanas,504.0,NaN,NaN,Irreparável,NaN,NaN,NaN,3 Dias,72.0,NaN,NaN
433,3 Dias,72.0,2 Semanas,336.0,Ainda não voltou ao normal,NaN,NaN,NaN,NaN,NaN,Irreparável,NaN,NS/NR,NaN,NaN,NaN
440,8 Dias,192.0,NaN,NaN,NaN,NaN,NaN,NaN,Ainda não voltou ao normal,NaN,NaN,NaN,1 Meses,672.0,NaN,NaN
599,NS/NR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2 Dias,48.0,NaN,NaN
675,Não soube antes,0.0,15 Dias,360.0,Ainda não voltou ao normal,NaN,NaN,NaN,Ainda não voltou ao normal,NaN,NaN,NaN,15 Semanas,2520.0,NaN,NaN
765,3 Horas,3.0,6 Horas,6.0,Ainda não voltou ao normal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 Dias,24.0,NaN,NaN
835,1 Horas,1.0,1 Semanas,168.0,Ainda não voltou ao normal,NaN,3 Semanas,504.0,Ainda não voltou ao normal,NaN,Irreparável,NaN,5 Dias,120.0,NaN,NaN
842,1 Semanas,168.0,4 Semanas,672.0,2 Meses,1344.0,3 Meses,2016.0,3 Semanas,504.0,26 Semanas,4368.0,1 Meses,672.0,NaN,NaN
865,Não soube antes,0.0,5 Dias,120.0,1 Semanas,168.0,NaN,NaN,30 Semanas,5040.0,NaN,NaN,3 Dias,72.0,NaN,NaN
976,6 Horas,6.0,25 Dias,600.0,3 Meses,2016.0,NaN,NaN,16 Semanas,2688.0,NaN,NaN,3 Dias,72.0,NaN,NaN
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1002,2 Semanas,336.0,2 Semanas,336.0,Ainda não voltou ao normal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 Semanas,168.0,NaN,NaN
1050,Não soube antes,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1089,1 Semanas,168.0,15 Dias,360.0,Irreparável,NaN,NaN,NaN,Irreparável,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1172,Não soube antes,0.0,15 Dias,360.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10 Dias,240.0,NaN,NaN
1189,3 Horas,3.0,1 Dias,24.0,1 Meses,672.0,NaN,NaN,4 Semanas,672.0,NaN,NaN,20 Dias,480.0,NaN,NaN
1439,NS/NR,NaN,NS/NR,NaN,NaN,NaN,Irreparável,NaN,Irreparável,NaN,NaN,NaN,2 Dias,48.0,NaN,NaN

In [51]:
#'Nenhuma'
#' Quantidade'
quantQuestionList=[]
for values in quantity.question_code.tolist():
    print(values)
    searchDestroy(values, ' Quantidade', 1)
    searchDestroy(values, 'Nenhuma', 0)
    quantQuestionList.append(values)
    quantQuestionList.append(values+'N')
floods.loc[randSample][quantQuestionList]

P166
P266
P285

              P166  P166N           P266  P266N            P285  P285N
7          Nenhuma    0.0   2 Quantidade    2.0    3 Quantidade    3.0
39         Nenhuma    0.0   2 Quantidade    2.0    3 Quantidade    3.0
47         Nenhuma    0.0   3 Quantidade    3.0         Nenhuma    0.0
64         Nenhuma    0.0   2 Quantidade    2.0    3 Quantidade    3.0
92         Nenhuma    0.0   3 Quantidade    3.0    3 Quantidade    3.0
130        Nenhuma    0.0  30 Quantidade   30.0   30 Quantidade   30.0
157        Nenhuma    0.0        Nenhuma    0.0    2 Quantidade    2.0
203            NaN    NaN            NaN    NaN             NaN    NaN
223        Nenhuma    0.0   1 Quantidade    1.0    1 Quantidade    1.0
433        Nenhuma    0.0   1 Quantidade    1.0    3 Quantidade    3.0
440        Nenhuma    0.0        Nenhuma    0.0    1 Quantidade    1.0
599        Nenhuma    0.0        Nenhuma    0.0  150 Quantidade  150.0
675        Nenhuma    0.0   2 Quantidade    2.0    1 Quantidade    1.0
765        Nenhuma    0.0        Nenhuma    0.0         Nenhuma    0.0
835   1 Quantidade    1.0   1 Quantidade    1.0    2 Quantidade    2.0
842        Nenhuma    0.0   3 Quantidade    3.0    5 Quantidade    5.0
865        Nenhuma    0.0   8 Quantidade    8.0         Nenhuma    0.0
976        Nenhuma    0.0   2 Quantidade    2.0    6 Quantidade    6.0
995            NaN    NaN          NS/NR    NaN           NS/NR    NaN
1002       Nenhuma    0.0   1 Quantidade    1.0    2 Quantidade    2.0
1050       Nenhuma    0.0        Nenhuma    0.0    2 Quantidade    2.0
1089       Nenhuma    0.0   2 Quantidade    2.0    4 Quantidade    4.0
1172       Nenhuma    0.0   1 Quantidade    1.0    4 Quantidade    4.0
1189       Nenhuma    0.0        Nenhuma    0.0         Nenhuma    0.0
1439  1 Quantidade    1.0        Nenhuma    0.0         Nenhuma    0.0

In [52]:
heightDict = {'nan' : 0, 'Água até a canela/panturrilha' : 25, 'Água até o calcanhar' : 15, \
              'Água até a garganta' : 150, 'Água até o joelho' : 50, 'Chão molhado' : 5, \
              'Água até o quadril':75, 'NS/NR' : 0, 'Água até o umbigo' : 100, \
              'Água até o peito': 125, 'Cabeça debaixo da água':175}
hq = height.question_code.tolist()[0]
hqn = height.question_code.tolist()[0]+'N'
print(hq, hqn)

#floods[444:460:][[height.question_code.tolist()[1],height.question_code.tolist()[1]+'N']]

for values, keys in heightDict.items():
    f = floods.loc[::,hq].str.contains(values, na=False, regex=False)
    print(values, keys)
    if values == None:
        floods.loc[f,hqn] = pd.to_numeric(0, errors='coerce')
    else:
        
        floods.loc[f,hqn] = pd.to_numeric(floods.loc[f,hq].str.replace(values, str(keys)), errors='coerce')
floods.loc[randSample][[height.question_code.tolist()[0],height.question_code.tolist()[0]+'N']]

P097 P097N
nan 0
Água até a canela/panturrilha 25
Água até o calcanhar 15
Água até a garganta 150
Água até o joelho 50
Chão molhado 5
Água até o quadril 75
NS/NR 0
Água até o umbigo 100
Água até o peito 125
Cabeça debaixo da água 175

                               P097  P097N
7                Água até o quadril   75.0
39                Água até o joelho   50.0
47                 Água até o peito  125.0
64                Água até o joelho   50.0
92                Água até o joelho   50.0
130               Água até o joelho   50.0
157                             NaN    NaN
203                    Chão molhado    5.0
223            Água até o calcanhar   15.0
433                    Chão molhado    5.0
440                             NaN    NaN
599                             NaN    NaN
675               Água até o joelho   50.0
765   Água até a canela/panturrilha   25.0
835            Água até o calcanhar   15.0
842               Água até o joelho   50.0
865   Água até a canela/panturrilha   25.0
976   Água até a canela/panturrilha   25.0
995                             NaN    NaN
1002                   Chão molhado    5.0
1050                            NaN    NaN
1089  Água até a canela/panturrilha   25.0
1172  Água até a canela/panturrilha   25.0
1189           Água até o calcanhar   15.0
1439              Água até o joelho   50.0

In [53]:
#P142  ' Reais'
searchDestroy(currency.question_code.tolist()[0], ' Reais', 1)
#searchDestroy(values, 'De ', 1)
floods.loc[randSample][[currency.question_code.tolist()[0],currency.question_code.tolist()[0]+'N']]

             P142    P142N
7           NS/NR      NaN
39     2000 Reais   2000.0
47           Nada      NaN
64    10000 Reais  10000.0
92           Nada      NaN
130          Nada      NaN
157           NaN      NaN
203           NaN      NaN
223          Nada      NaN
433    3000 Reais   3000.0
440         NS/NR      NaN
599           NaN      NaN
675    1000 Reais   1000.0
765           NaN      NaN
835    3000 Reais   3000.0
842   30000 Reais  30000.0
865     500 Reais    500.0
976   15000 Reais  15000.0
995           NaN      NaN
1002          NaN      NaN
1050          NaN      NaN
1089   3000 Reais   3000.0
1172          NaN      NaN
1189   5000 Reais   5000.0
1439        NS/NR      NaN

In [54]:
#Q264 is a bit more complicated. We need first to separate the values, then convert them to numerical ranges 
#we need to first split the numbers into two columns
#creating the extra-column
floods.loc[::,currency.question_code.tolist()[1]+'N'] = '0'
floods.loc[::,currency.question_code.tolist()[1]+'M'] = '0'

splits = floods.loc[::,currency.question_code.tolist()[1]].str.split('a',expand=True)
floods.loc[::,currency.question_code.tolist()[1]+'N'] = splits[0]
floods.loc[::,currency.question_code.tolist()[1]+'M']= splits[1]

In [55]:
#floods.loc[::,currency.question_code.tolist()[1]+'N']
#'De ' 
#' a '
#'R$ '
floods.loc[::,currency.question_code.tolist()[1]+'N'] = floods.loc[::,currency.question_code.tolist()[1]+'N'].str.replace('De ' , str(''))
floods.loc[::,currency.question_code.tolist()[1]+'N'] = floods.loc[::,currency.question_code.tolist()[1]+'N'].str.replace('R\$ ' , str(''))
floods.loc[::,currency.question_code.tolist()[1]+'N'] = floods.loc[::,currency.question_code.tolist()[1]+'N'].str.replace(',00' , str(''))
floods.loc[::,currency.question_code.tolist()[1]+'N'] = pd.to_numeric(floods.loc[::,currency.question_code.tolist()[1]+'N'].str.replace('.' , str('')), errors='coerce')

#Q264M
#'De ' 
#' a '
#'R$ '
floods.loc[::,currency.question_code.tolist()[1]+'M'] = floods.loc[::,currency.question_code.tolist()[1]+'M'].str.replace('De ' , str(''))
floods.loc[::,currency.question_code.tolist()[1]+'M'] = floods.loc[::,currency.question_code.tolist()[1]+'M'].str.replace('R\$ ' , str(''))
floods.loc[::,currency.question_code.tolist()[1]+'M'] = floods.loc[::,currency.question_code.tolist()[1]+'M'].str.replace(',00' , str(''))
floods.loc[::,currency.question_code.tolist()[1]+'M'] = pd.to_numeric(floods.loc[::,currency.question_code.tolist()[1]+'M'].str.replace('.' , str('')), errors='coerce')

print(floods.loc[::,currency.question_code.tolist()[1]+'M'].dtype)
floods[450:460:][[currency.question_code.tolist()[1],currency.question_code.tolist()[1]+'N',currency.question_code.tolist()[1]+'M']]

float64

                             P264   P264N   P264M
450                         NS/NR     NaN     NaN
451  De R$ 2.000,00 a R$ 3.000,00  2000.0  3000.0
452  De R$ 1.000,00 a R$ 2.000,00  1000.0  2000.0
453  De R$ 1.000,00 a R$ 2.000,00  1000.0  2000.0
454  De R$ 2.000,00 a R$ 3.000,00  2000.0  3000.0
455  De R$ 3.000,00 a R$ 5.000,00  3000.0  5000.0
456  De R$ 1.000,00 a R$ 2.000,00  1000.0  2000.0
457    De R$ 500,00 a R$ 1.000,00   500.0  1000.0
458    De R$ 500,00 a R$ 1.000,00   500.0  1000.0
459  De R$ 1.000,00 a R$ 2.000,00  1000.0  2000.0

In [56]:
#selecting only those answers that are of multiple type
multQuestionList=multiple.question_code.tolist()
for values in range(len(multiple.question_code.tolist())):
    #print(multiple.question_code.tolist()[values])
    f = multiple.question_code.tolist()[values]
    floods.loc[::,f] = floods.loc[::,f].astype('category')
print(multQuestionList, len(multQuestionList))
floods.loc[randSample][multQuestionList[::7]]

['P008', 'P012', 'P014', 'P015', 'P016', 'P017', 'P023', 'P025', 'P026', 'P029', 'P033', 'P037', 'P038', 'P039', 'P041', 'P043', 'P068', 'P098', 'P120', 'P121', 'P123', 'P127', 'P128', 'P129', 'P130', 'P131', 'P132', 'P148', 'P152', 'P156', 'P157', 'P167', 'P170', 'P171', 'P173', 'P175', 'P176', 'P177', 'P178', 'P180', 'P181', 'P183', 'P184', 'P188', 'P189', 'P191', 'P195', 'P199', 'P201', 'P203', 'P206', 'P209', 'P211', 'P213', 'P214', 'P216', 'P217', 'P253', 'P254', 'P255', 'P258', 'P260', 'P263', 'P267', 'P268', 'P270', 'P271', 'P272', 'P275', 'P282', 'P283', 'P284'] 72

,P008,P025,P041,P127,P152,P175,P184,P203,P217,P267,P283
7,"Fora desta casa, neste bairro",NaN,Sim,NaN,Não,NaN,NaN,Não,NaN,Sim,Não
39,"Nesta casa, neste bairro",NaN,Não,NaN,Não,Sim,Não,Não,NaN,Sim,NaN
47,"Nesta casa, neste bairro",NaN,Sim,NaN,Não,Sim,Sim,Os dois,NaN,Sim,NaN
64,"Nesta casa, neste bairro",NaN,Não,NaN,Não,Sim,Não,"Sim, água",NaN,Sim,Não
92,"Nesta casa, neste bairro",NaN,Não,NaN,Não,Sim,Não,"Sim, água",NaN,Não,NaN
130,"Nesta casa, neste bairro",NaN,Não,NaN,Sim,NaN,NaN,"Sim, alimento",NaN,NS/NR,Não
157,"Nesta casa, neste bairro",NaN,NaN,NaN,Não,NaN,NaN,Não,NaN,Não,Sim
203,"Nesta casa, neste bairro",NaN,Não,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,"Nesta casa, neste bairro",NaN,Sim,NaN,Não,Sim,Não,"Sim, água",NaN,Não,NaN
433,"Nesta casa, neste bairro",NaN,Não,NaN,Sim,Sim,Não,"Sim, água",NaN,Sim,Não
440,"Nesta casa, neste bairro",NaN,NaN,NaN,Sim,NaN,NaN,Não,NaN,Não,Não
599,"Fora desta casa, neste bairro",NaN,NaN,NaN,Não,NaN,NaN,Não,NaN,Sim,NaN
675,"Nesta casa, neste bairro",NaN,Não,NaN,Não,NaN,NaN,Não,NaN,Sim,Não
765,"Nesta casa, neste bairro",NaN,Sim,NaN,Sim,NaN,NaN,Não,NaN,Sim,Sim
835,"Nesta casa, neste bairro",NaN,Sim,Precisou substituir (totalmente danificado),Não,Sim,Sim,Não,NaN,Sim,Não
842,"Fora desta casa, neste bairro",NaN,Sim,NaN,Não,Sim,Não,Não,NaN,Sim,NaN
865,"Fora desta casa, neste bairro",NaN,Não,NaN,Não,NaN,NaN,Não,NaN,Não,NaN
976,"Nesta casa, neste bairro",NaN,Não,NaN,Não,Sim,Não,Não,NaN,Não,Sim
995,Em outro município do Rio Grande do Sul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Não,NaN
1002,"Nesta casa, neste bairro",NaN,Não,NaN,Não,NaN,NaN,Os dois,NaN,Não,Não
1050,"Nesta casa, neste bairro",NaN,NaN,NaN,Não,NaN,NaN,"Sim, alimento",NaN,Não,Sim
1089,"Nesta casa, neste bairro",NaN,Não,NaN,Não,Sim,Não,Não,NaN,Sim,Não
1172,"Nesta casa, neste bairro",NaN,Sim,NaN,Não,Sim,Sim,"Sim, água",NaN,Não,Não
1189,"Nesta casa, neste bairro",NaN,Não,NaN,Não,Sim,Não,Não,NaN,Sim,Sim
1439,"Fora desta casa, neste bairro",NaN,Não,NaN,Não,Sim,Não,Não,NaN,Sim,Não

In [57]:
combinedList = questions[questions.question_type == 'combined options'].question_code.tolist()
problemList = []
decombinedList = []
for ii in range(len(combinedList)):
    try:
        decombineAnswers(combinedList[ii])
        decombinedList.append(combinedList[ii])
        #print(q, 'was decombined')
        #print(combinedList[ii])
        #break
    except:
        problemList.append(combinedList[ii])
        ii = ii + 1
        #print("Oops!", sys.exc_info()[0], "occurred.")
print('All good with this guys:', decombinedList)
print('The problems were:', problemList)

All good with this guys: ['P018', 'P028', 'P032', 'P035', 'P036', 'P042', 'P065', 'P066', 'P067', 'P069', 'P070', 'P101', 'P119', 'P126', 'P150', 'P151', 'P154', 'P159', 'P161', 'P163', 'P168', 'P174', 'P182', 'P186', 'P193', 'P197', 'P204', 'P207', 'P212', 'P219', 'P221', 'P222', 'P236', 'P237', 'P238', 'P239', 'P240', 'P241', 'P242', 'P243', 'P261', 'P262', 'P265', 'P269', 'P273', 'P274']
The problems were: []

In [58]:
q = 'P174'
possible_answers = questions[questions.question_code == q].answer_options.str.split(";", expand=True)
possible_answers

,0,1,2,3,4,5
78,1 - Medo de perder a vida,2 - Medo de doença,3 - Casa danificada,4 - Medo da água,5 - Outro(s),6 - NS/NR

In [59]:
qOp = 'P070op13'
floods.loc[floods.loc[:,qOp] == True,['P070',qOp]]

                                                   P070  P070op13
17               Evacuar a área  &  Nada, não deu tempo         1
26                                  Nada, não deu tempo         1
30                                  Nada, não deu tempo         1
56    Desligar a energia elétrica  &  Evacuar a área...         1
59                     Nada, não deu tempo  &  Outro(s)         1
...                                                 ...       ...
1394                                Nada, não deu tempo         1
1396                                Nada, não deu tempo         1
1409             Evacuar a área  &  Nada, não deu tempo         1
1416             Evacuar a área  &  Nada, não deu tempo         1
1448  Desligar a energia elétrica  &  Evacuar a área...         1

[128 rows x 2 columns]

In [60]:
questions[questions.question_code == "P018"].answer_options.tolist()

['1 - Ônibus; 2 - Carro; 3 - Motocicleta; 4 - Bicicleta; 5 - Barco/canoa; 6 - Caminhão/camionete/van; 7 - Carroça; 8 - A pé; 9 - Nenhum; 10 - Outro(s); 11 - NS/NR']

In [61]:
floods.loc[randSample][['P018','P018op1','P018op2','P018op3','P018op4','P018op5','P018op6','P018op7','P018op8','P018op9','P018op10','P018op11']]

,P018,P018op1,P018op2,P018op3,P018op4,P018op5,P018op6,P018op7,P018op8,P018op9,P018op10,P018op11
7,Motocicleta,0,0,1,0,0,0,0,0,0,0,0
39,Ônibus,1,0,0,0,0,0,0,0,0,0,0
47,A pé,0,0,0,0,0,0,0,1,0,0,0
64,Ônibus,1,0,0,0,0,0,0,0,0,0,0
92,Ônibus,1,0,0,0,0,0,0,0,0,0,0
130,Ônibus,1,0,0,0,0,0,0,0,0,0,0
157,Carro,0,1,0,0,0,0,0,0,0,0,0
203,Ônibus,1,0,0,0,0,0,0,0,0,0,0
223,Ônibus,1,0,0,0,0,0,0,0,0,0,0
433,Ônibus,1,0,0,0,0,0,0,0,0,0,0
440,Ônibus,1,0,0,0,0,0,0,0,0,0,0
599,Carro,0,1,0,0,0,0,0,0,0,0,0
675,Ônibus,1,0,0,0,0,0,0,0,0,0,0
765,Carro,0,1,0,0,0,0,0,0,0,0,0
835,A pé & Carro & Motocicleta & Ônibus,1,1,1,0,0,0,0,1,0,0,0
842,Bicicleta & Ônibus,1,0,0,1,0,0,0,0,0,0,0
865,A pé,0,0,0,0,0,0,0,1,0,0,0
976,Barco/canoa & Carro & Ônibus,1,1,0,0,1,0,0,0,0,0,0
995,A pé,0,0,0,0,0,0,0,1,0,0,0
1002,Ônibus,1,0,0,0,0,0,0,0,0,0,0
1050,Ônibus,1,0,0,0,0,0,0,0,0,0,0
1089,Caminhão/camionete/van,0,0,0,0,0,1,0,0,0,0,0
1172,Ônibus,1,0,0,0,0,0,0,0,0,0,0
1189,Motocicleta,0,0,1,0,0,0,0,0,0,0,0
1439,Outro(s),0,0,0,0,0,0,0,0,0,1,0

In [62]:
floods['P018S'] = 0
def flag_df(df = floods):
    
    if (df['P018op2'] == 1) or  (df['P018op6'] == 1):
        return 2 #large cargo capacity available
    elif (df['P018op1'] == 1) or (df['P018op3'] == 1) or (df['P018op4'] == 1) or (df['P018op5'] == 1) or (df['P018op7'] == 1) or (df['P018op8'] == 1) or (df['P018op9'] == 1):
        return 3 #small cargo capacity only
    else:
        return 1 #no answer
floods['P018S'] = floods.apply(flag_df, axis = 1)
floods.loc[randSample][['P009','P018','P018S','P097','P097N','P098']]

,P009,P018,P018S,P097,P097N,P098
7,2.0,Motocicleta,3,Água até o quadril,75.0,Sim
39,4.0,Ônibus,3,Água até o joelho,50.0,Não
47,3.0,A pé,3,Água até o peito,125.0,Não
64,4.0,Ônibus,3,Água até o joelho,50.0,Não
92,5.0,Ônibus,3,Água até o joelho,50.0,Não
130,6.0,Ônibus,3,Água até o joelho,50.0,Não
157,3.0,Carro,2,NaN,NaN,NaN
203,5.0,Ônibus,3,Chão molhado,5.0,Não
223,2.0,Ônibus,3,Água até o calcanhar,15.0,Não
433,3.0,Ônibus,3,Chão molhado,5.0,Não
440,2.0,Ônibus,3,NaN,NaN,NaN
599,1.0,Carro,2,NaN,NaN,NaN
675,2.0,Ônibus,3,Água até o joelho,50.0,Não
765,4.0,Carro,2,Água até a canela/panturrilha,25.0,Sim
835,5.0,A pé & Carro & Motocicleta & Ônibus,2,Água até o calcanhar,15.0,Não
842,2.0,Bicicleta & Ônibus,3,Água até o joelho,50.0,Sim
865,5.0,A pé,3,Água até a canela/panturrilha,25.0,Não
976,NaN,Barco/canoa & Carro & Ônibus,2,Água até a canela/panturrilha,25.0,Não
995,3.0,A pé,3,NaN,NaN,NaN
1002,2.0,Ônibus,3,Chão molhado,5.0,Não
1050,1.0,Ônibus,3,NaN,NaN,NaN
1089,4.0,Caminhão/camionete/van,2,Água até a canela/panturrilha,25.0,Não
1172,3.0,Ônibus,3,Água até a canela/panturrilha,25.0,Não
1189,2.0,Motocicleta,3,Água até o calcanhar,15.0,Não
1439,5.0,Outro(s),1,Água até o joelho,50.0,Não

Creating variables for Stata analysis

For Regression analsys, we must convert all variables into numerical values.<br>
Because of that, we need to recode the following variables into numerical categories:<br>
i. P014        Highest education level<br>
ii. P015        Which is your main activity (work / study) (activity that spends more time)?<br>
iii. P029        What color or race you are?<br>
iv. P012        Gender<br>
ii. P013        Current age<br>
iii. P264        What is the monthly income range of your family?<br>

In [63]:
stataList = ['P012','P014', 'P015', 'P029','P041','P043','P068','P097','P098','P264']
stataList

['P012',
 'P014',
 'P015',
 'P029',
 'P041',
 'P043',
 'P068',
 'P097',
 'P098',
 'P264']

In [64]:
if 'P012S' in floods.columns:
    floods.drop(['P012S','P014S','P015S', 'P029S','P041S','P043S','P068S','P097S','P098S','P264S'], axis='columns', inplace=True)#'P018S',
else:
    for ii in range(len(stataList)):
        stataList[ii] = stataList[ii] + 'S'
    #stataList
floods = floods.join(pd.DataFrame(np.nan, index=floods.index, columns=stataList))
floods.loc[randSample][:].head()

,CampoComum,P008,P009,P011,P012,P013,P014,P015,P016,P017,...,P012S,P014S,P015S,P029S,P041S,P043S,P068S,P097S,P098S,P264S
7,35157307017328242,"Fora desta casa, neste bairro",2.0,Parceiro/Marido/Esposa,Masculino,51 Anos,Ensino fundamental incompleto,Trabalho remunerado (com,Outro(s),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,35157307018195439,"Nesta casa, neste bairro",4.0,Neto/Neta,Masculino,21 Anos,Ensino fundamental incompleto,Trabalho remunerado (sem,Transporte,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,35157307018830659,"Nesta casa, neste bairro",3.0,Filho/Filha,Feminino,6 Anos,"Educacão infantil (creche, jardim de infância)",Vai à creche,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,35157307018195444,"Nesta casa, neste bairro",4.0,Você mesmo,NaN,31 Anos,Ensino médio completo,Desempregado,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,35157307018385131,"Nesta casa, neste bairro",5.0,Você mesmo,Feminino,54 Anos,Ensino fundamental completo,Autônomo,Construção Civil,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
P012Dict = {'NS/NR':1, 
            'Feminino':2,
            'Masculino':3}
P014Dict = {'NS/NR':1,
            'Sem instrução':2, 
            'Educacão infantil (creche, jardim de infância)':2, 
            'Ensino fundamental incompleto':3, 
            'Ensino fundamental completo':3, 
            'Alfabetização de jovens e adultos (ensino fundamental ou médio)':4,
            'Ensino médio incompleto':5, 
            'Ensino médio completo':5,
            'Curso técnico/profissionalizante':6,
            'Ensino superior incompleto':7,
            'Ensino superior completo':7,
            'Pós-graduação':8}
P015Dict = {'Outro(s)':1,
            'Desempregado':1,
            'Vai à creche':2,
            'Estudante':3,
            'Inativo (aposentado e outros)':4,
            'Dona de casa':5,
            'Trabalho sem remuneração':5,
            'Autônomo':6,    
            'Trabalho remunerado (sem':6,
            'Trabalho de produção para consumo próprio':6,
            'Trabalho remunerado (com':7,
            'Funcionário público/militar':8,
            'Empregador':9}
P018Dict = {'Outro(s)':0,
            'Ônibus':2,
            'Carro':1,
            'Motocicleta':2,
            'Bicicleta':2,
            'Barco/canoa':1,
            'Caminhão/camionete/van':1,
            'Carroça':2,
            'A pé':2,
            'Nenhum':0,
            'NS/NR':0}
P018SDict = {'NS/NR':1,
            'Large cargo capacity available':2,
            'Small cargo only':3}
P029Dict = {'NS/NR':1, 
            'Amarela':2,
            'Branca':3,
            'Indígena':4,
            'Parda':5,
            'Preta':6}
P041Dict = {'NS/NR':1, 
            'Sim':2, 
            'Não':3}
P043Dict = {'NS/NR':1, 
            'Sim':2, 
            'Não':3}
P068Dict = {'NS/NR':1, 
            'Sim':2, 
            'Não':3}
P097Dict = {'nan' : 1, 
            'NS/NR' : 1, 
            'Água até a canela/panturrilha' :2, 
            'Água até o calcanhar':2, 
            'Água até a garganta':4, 
            'Água até o joelho':2, 
            'Chão molhado':2, 
            'Água até o quadril':3, 
            'Água até o umbigo':3, 
            'Água até o peito':4, 
            'Cabeça debaixo da água':4}
P098Dict = {'NS/NR':1, 
            'Sim':2, 
            'Não':3}
P264Dict = {'NS/NR':1, 
            'Sem renda mensal':1, 
            'Até R$ 250,00':2,
            'De R$ 250,00 a R$ 500,00':3,
            'De R$ 500,00 a R$ 1.000,00':4,
            'De R$ 1.000,00 a R$ 2.000,00':5,
            'De R$ 2.000,00 a R$ 3.000,00':6,
            'De R$ 3.000,00 a R$ 5.000,00':7,
            'De R$ 5.000,00 a R$ 10.000,00':8,
            'De R$ 10.000,00 a R$ 15.000,00':9,
            'De R$ 15.000,00 a R$ 20.000,00 (De 15 a 20 salários mínimos )':10}
dictOfDicts = {'P012Dict':P012Dict, 'P014Dict':P014Dict,'P015Dict':P015Dict, 'P018Dict':P018Dict,'P029Dict':P029Dict,
               'P041Dict':P041Dict,'P043Dict':P043Dict,'P068Dict':P068Dict,'P097Dict':P097Dict,'P098Dict':P098Dict,'P264Dict':P264Dict}

In [66]:
floods.loc[randSample][['P012','P012S','P014','P014S','P015','P015S','P018','P018S','P029','P029S','P041','P041S',
                        'P043','P043S','P068','P068S','P097','P097S','P098','P098S','P264','P264S']]

,P012,P012S,P014,P014S,P015,P015S,P018,P018S,P029,P029S,...,P043,P043S,P068,P068S,P097,P097S,P098,P098S,P264,P264S
7,Masculino,NaN,Ensino fundamental incompleto,NaN,Trabalho remunerado (com,NaN,Motocicleta,3,Branca,NaN,...,Não,NaN,Não,NaN,Água até o quadril,NaN,Sim,NaN,"De R$ 2.000,00 a R$ 3.000,00",NaN
39,Masculino,NaN,Ensino fundamental incompleto,NaN,Trabalho remunerado (sem,NaN,Ônibus,3,Indígena,NaN,...,Não,NaN,Não,NaN,Água até o joelho,NaN,Não,NaN,"De R$ 1.000,00 a R$ 2.000,00",NaN
47,Feminino,NaN,"Educacão infantil (creche, jardim de infância)",NaN,Vai à creche,NaN,A pé,3,Branca,NaN,...,Sim,NaN,Não,NaN,Água até o peito,NaN,Não,NaN,"Até R$ 250,00",NaN
64,NaN,NaN,Ensino médio completo,NaN,Desempregado,NaN,Ônibus,3,Branca,NaN,...,Sim,NaN,Não,NaN,Água até o joelho,NaN,Não,NaN,"De R$ 1.000,00 a R$ 2.000,00",NaN
92,Feminino,NaN,Ensino fundamental completo,NaN,Autônomo,NaN,Ônibus,3,Branca,NaN,...,Não,NaN,Sim,NaN,Água até o joelho,NaN,Não,NaN,"De R$ 1.000,00 a R$ 2.000,00",NaN
130,Feminino,NaN,Ensino fundamental incompleto,NaN,Estudante,NaN,Ônibus,3,Preta,NaN,...,Não,NaN,Não,NaN,Água até o joelho,NaN,Não,NaN,"Até R$ 250,00",NaN
157,Masculino,NaN,Ensino superior incompleto,NaN,Trabalho remunerado (sem,NaN,Carro,2,Branca,NaN,...,Não,NaN,Não,NaN,NaN,NaN,NaN,NaN,"De R$ 1.000,00 a R$ 2.000,00",NaN
203,Feminino,NaN,Ensino médio incompleto,NaN,Dona de casa,NaN,Ônibus,3,Branca,NaN,...,Não,NaN,Não,NaN,Chão molhado,NaN,Não,NaN,NaN,NaN
223,Feminino,NaN,Ensino fundamental incompleto,NaN,Desempregado,NaN,Ônibus,3,Branca,NaN,...,Não,NaN,Não,NaN,Água até o calcanhar,NaN,Não,NaN,NS/NR,NaN
433,Feminino,NaN,"Educacão infantil (creche, jardim de infância)",NaN,Vai à creche,NaN,Ônibus,3,Branca,NaN,...,Sim,NaN,Não,NaN,Chão molhado,NaN,Não,NaN,"De R$ 500,00 a R$ 1.000,00",NaN
440,Feminino,NaN,Ensino fundamental incompleto,NaN,Inativo (aposentado e outros),NaN,Ônibus,3,Preta,NaN,...,Sim,NaN,Sim,NaN,NaN,NaN,NaN,NaN,"De R$ 1.000,00 a R$ 2.000,00",NaN
599,Masculino,NaN,Ensino superior completo,NaN,Empregador,NaN,Carro,2,Branca,NaN,...,Não,NaN,Não,NaN,NaN,NaN,NaN,NaN,"De R$ 1.000,00 a R$ 2.000,00",NaN
675,Feminino,NaN,Ensino fundamental completo,NaN,Inativo (aposentado e outros),NaN,Ônibus,3,Branca,NaN,...,Sim,NaN,Não,NaN,Água até o joelho,NaN,Não,NaN,"De R$ 2.000,00 a R$ 3.000,00",NaN
765,Masculino,NaN,Ensino superior incompleto,NaN,Trabalho remunerado (com,NaN,Carro,2,Branca,NaN,...,Não,NaN,Não,NaN,Água até a canela/panturrilha,NaN,Sim,NaN,"De R$ 3.000,00 a R$ 5.000,00",NaN
835,Masculino,NaN,Sem instrução,NaN,Outro(s),NaN,A pé & Carro & Motocicleta & Ônibus,2,Branca,NaN,...,Não,NaN,Não,NaN,Água até o calcanhar,NaN,Não,NaN,"De R$ 1.000,00 a R$ 2.000,00",NaN
842,Feminino,NaN,Ensino médio completo,NaN,Desempregado,NaN,Bicicleta & Ônibus,3,Branca,NaN,...,Sim,NaN,Sim,NaN,Água até o joelho,NaN,Sim,NaN,"De R$ 500,00 a R$ 1.000,00",NaN
865,Feminino,NaN,Ensino fundamental incompleto,NaN,Estudante,NaN,A pé,3,Parda,NaN,...,Não,NaN,Não,NaN,Água até a canela/panturrilha,NaN,Não,NaN,"Até R$ 250,00",NaN
976,Masculino,NaN,Ensino médio incompleto,NaN,Autônomo,NaN,Barco/canoa & Carro & Ônibus,2,Branca,NaN,...,Não,NaN,Não,NaN,Água até a canela/panturrilha,NaN,Não,NaN,"De R$ 2.000,00 a R$ 3.000,00",NaN
995,Masculino,NaN,"Educacão infantil (creche, jardim de infância)",NaN,Estudante,NaN,A pé,3,Branca,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"De R$ 500,00 a R$ 1.000,00",NaN
1002,Masculino,NaN,Ensino fundamental completo,NaN,Autônomo,NaN,Ônibus,3,Branca,NaN,...,Não,NaN,Não,NaN,Chão molhado,NaN,Não,NaN,"De R$ 250,00 a R$ 500,00",NaN
1050,Feminino,NaN,Ensino superior completo,NaN,Trabalho remunerado (sem,NaN,Ônibus,3,Branca,NaN,...,Não,NaN,Não,NaN,NaN,NaN,NaN,NaN,"De R$ 500,00 a R$ 1.000,00",NaN
1089,Masculino,NaN,Ensino fundamental incompleto,NaN,Autônomo,NaN,Caminhão/camionete/van,2,Branca,NaN,...,Não,NaN,Não,NaN,Água até a canela/panturrilha,NaN,Não,NaN,"De R$ 1.000,00 a R$ 2.000,00",NaN
1172,Masculino,NaN,Ensino fundamental incompleto,NaN,Estudante,NaN,Ônibus,3,Preta,NaN,...,Sim,NaN,Não,NaN,Água até a canela/panturrilha,NaN,Não,NaN,"De R$ 1.000,00 a R$ 2.000,00",NaN
1189,Masculino,NaN,Ensino fundamental completo,NaN,Trabalho remunerado (com,NaN,Motocicleta,3,Branca,NaN,...,Sim,NaN,Sim,NaN,Água até o calcanhar,NaN,Não,NaN,"De R$ 2.000,00 a R$ 3.000,00",NaN
1439,Masculino,NaN,Sem instrução,NaN,Outro(s),NaN,Outro(s),1,Preta,NaN,...,Sim,NaN,Não,NaN,Água até o joelho,NaN,Não,NaN,"De R$ 1.000,00 a R$ 2.000,00",NaN

In [67]:
for ii in stataList:
    originalColumn = left(ii,4)
    dictName = originalColumn + 'Dict'    
    floods.loc[:,ii] = floods.loc[:,originalColumn].map(dictOfDicts[dictName], na_action='ignore') #this one leaves NaN
floods.loc[randSample][['P012','P012S','P014','P014S','P015','P015S','P018','P018S','P029','P029S','P041','P041S',
                        'P043','P043S','P068','P068S','P097','P097S','P098','P098S','P264','P264S']]

,P012,P012S,P014,P014S,P015,P015S,P018,P018S,P029,P029S,...,P043,P043S,P068,P068S,P097,P097S,P098,P098S,P264,P264S
7,Masculino,3,Ensino fundamental incompleto,3.0,Trabalho remunerado (com,7.0,Motocicleta,3,Branca,3,...,Não,3,Não,3,Água até o quadril,3.0,Sim,2,"De R$ 2.000,00 a R$ 3.000,00",6.0
39,Masculino,3,Ensino fundamental incompleto,3.0,Trabalho remunerado (sem,6.0,Ônibus,3,Indígena,4,...,Não,3,Não,3,Água até o joelho,2.0,Não,3,"De R$ 1.000,00 a R$ 2.000,00",5.0
47,Feminino,2,"Educacão infantil (creche, jardim de infância)",2.0,Vai à creche,2.0,A pé,3,Branca,3,...,Sim,2,Não,3,Água até o peito,4.0,Não,3,"Até R$ 250,00",2.0
64,NaN,NaN,Ensino médio completo,5.0,Desempregado,1.0,Ônibus,3,Branca,3,...,Sim,2,Não,3,Água até o joelho,2.0,Não,3,"De R$ 1.000,00 a R$ 2.000,00",5.0
92,Feminino,2,Ensino fundamental completo,3.0,Autônomo,6.0,Ônibus,3,Branca,3,...,Não,3,Sim,2,Água até o joelho,2.0,Não,3,"De R$ 1.000,00 a R$ 2.000,00",5.0
130,Feminino,2,Ensino fundamental incompleto,3.0,Estudante,3.0,Ônibus,3,Preta,6,...,Não,3,Não,3,Água até o joelho,2.0,Não,3,"Até R$ 250,00",2.0
157,Masculino,3,Ensino superior incompleto,7.0,Trabalho remunerado (sem,6.0,Carro,2,Branca,3,...,Não,3,Não,3,NaN,NaN,NaN,NaN,"De R$ 1.000,00 a R$ 2.000,00",5.0
203,Feminino,2,Ensino médio incompleto,5.0,Dona de casa,5.0,Ônibus,3,Branca,3,...,Não,3,Não,3,Chão molhado,2.0,Não,3,NaN,NaN
223,Feminino,2,Ensino fundamental incompleto,3.0,Desempregado,1.0,Ônibus,3,Branca,3,...,Não,3,Não,3,Água até o calcanhar,2.0,Não,3,NS/NR,1.0
433,Feminino,2,"Educacão infantil (creche, jardim de infância)",2.0,Vai à creche,2.0,Ônibus,3,Branca,3,...,Sim,2,Não,3,Chão molhado,2.0,Não,3,"De R$ 500,00 a R$ 1.000,00",4.0
440,Feminino,2,Ensino fundamental incompleto,3.0,Inativo (aposentado e outros),4.0,Ônibus,3,Preta,6,...,Sim,2,Sim,2,NaN,NaN,NaN,NaN,"De R$ 1.000,00 a R$ 2.000,00",5.0
599,Masculino,3,Ensino superior completo,7.0,Empregador,9.0,Carro,2,Branca,3,...,Não,3,Não,3,NaN,NaN,NaN,NaN,"De R$ 1.000,00 a R$ 2.000,00",5.0
675,Feminino,2,Ensino fundamental completo,3.0,Inativo (aposentado e outros),4.0,Ônibus,3,Branca,3,...,Sim,2,Não,3,Água até o joelho,2.0,Não,3,"De R$ 2.000,00 a R$ 3.000,00",6.0
765,Masculino,3,Ensino superior incompleto,7.0,Trabalho remunerado (com,7.0,Carro,2,Branca,3,...,Não,3,Não,3,Água até a canela/panturrilha,2.0,Sim,2,"De R$ 3.000,00 a R$ 5.000,00",7.0
835,Masculino,3,Sem instrução,2.0,Outro(s),1.0,A pé & Carro & Motocicleta & Ônibus,2,Branca,3,...,Não,3,Não,3,Água até o calcanhar,2.0,Não,3,"De R$ 1.000,00 a R$ 2.000,00",5.0
842,Feminino,2,Ensino médio completo,5.0,Desempregado,1.0,Bicicleta & Ônibus,3,Branca,3,...,Sim,2,Sim,2,Água até o joelho,2.0,Sim,2,"De R$ 500,00 a R$ 1.000,00",4.0
865,Feminino,2,Ensino fundamental incompleto,3.0,Estudante,3.0,A pé,3,Parda,5,...,Não,3,Não,3,Água até a canela/panturrilha,2.0,Não,3,"Até R$ 250,00",2.0
976,Masculino,3,Ensino médio incompleto,5.0,Autônomo,6.0,Barco/canoa & Carro & Ônibus,2,Branca,3,...,Não,3,Não,3,Água até a canela/panturrilha,2.0,Não,3,"De R$ 2.000,00 a R$ 3.000,00",6.0
995,Masculino,3,"Educacão infantil (creche, jardim de infância)",2.0,Estudante,3.0,A pé,3,Branca,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"De R$ 500,00 a R$ 1.000,00",4.0
1002,Masculino,3,Ensino fundamental completo,3.0,Autônomo,6.0,Ônibus,3,Branca,3,...,Não,3,Não,3,Chão molhado,2.0,Não,3,"De R$ 250,00 a R$ 500,00",3.0
1050,Feminino,2,Ensino superior completo,7.0,Trabalho remunerado (sem,6.0,Ônibus,3,Branca,3,...,Não,3,Não,3,NaN,NaN,NaN,NaN,"De R$ 500,00 a R$ 1.000,00",4.0
1089,Masculino,3,Ensino fundamental incompleto,3.0,Autônomo,6.0,Caminhão/camionete/van,2,Branca,3,...,Não,3,Não,3,Água até a canela/panturrilha,2.0,Não,3,"De R$ 1.000,00 a R$ 2.000,00",5.0
1172,Masculino,3,Ensino fundamental incompleto,3.0,Estudante,3.0,Ônibus,3,Preta,6,...,Sim,2,Não,3,Água até a canela/panturrilha,2.0,Não,3,"De R$ 1.000,00 a R$ 2.000,00",5.0
1189,Masculino,3,Ensino fundamental completo,3.0,Trabalho remunerado (com,7.0,Motocicleta,3,Branca,3,...,Sim,2,Sim,2,Água até o calcanhar,2.0,Não,3,"De R$ 2.000,00 a R$ 3.000,00",6.0
1439,Masculino,3,Sem instrução,2.0,Outro(s),1.0,Outro(s),1,Preta,6,...,Sim,2,Não,3,Água até o joelho,2.0,Não,3,"De R$ 1.000,00 a R$ 2.000,00",5.0

Solving the issues with ['P018', 'P032', 'P182', 'P221']<br>
P018 answer_options were separate by ', ' instead of ';', changed the questions table!
P032 had a '-' character in the questions table that got in the way, changed the code in the function to count ' - ' instead of it for defining 'm'
P182 had a ';' character in the questions table, changed the questions table to remove it. 
P221 had ' - ' set of characters in the questions and in the answers. Changed the text for that option (num. 2, 'carona')

In [31]:
#creating a new option for the flood responses. P070op14 is equal to those households that prepared their homes before the flood, based on P043 answer
floods['P070op14'] = 0
floods.loc[floods['P043S'] == 2, 'P070op14'] = 1
floods.loc[randSample][['P043','P043S','P070op10','P070op11','P070op12','P070op13','P070op14']]

     P043 P043S  P070op10  P070op11  P070op12  P070op13  P070op14
7     Não     3         0         1         0         0         0
39    Não     3         0         0         0         0         0
47    Sim     2         0         0         0         0         1
64    Sim     2         0         0         0         0         1
92    Não     3         0         1         0         0         0
130   Não     3         0         0         0         1         0
157   Não     3         0         0         1         0         0
203   Não     3         0         0         0         0         0
223   Não     3         1         1         0         0         0
433   Sim     2         1         1         0         0         1
440   Sim     2         0         0         0         0         1
599   Não     3         0         0         1         0         0
675   Sim     2         0         0         0         0         1
765   Não     3         0         0         0         0         0
835   Não     3         0         1         0         0         0
842   Sim     2         1         1         0         0         1
865   Não     3         0         0         0         0         0
976   Não     3         1         1         0         0         0
995   NaN   NaN         0         0         0         0         0
1002  Não     3         0         0         0         0         0
1050  Não     3         0         0         1         0         0
1089  Não     3         1         0         0         0         0
1172  Sim     2         0         0         0         0         1
1189  Sim     2         0         0         0         1         1
1439  Sim     2         0         0         0         0         1

In [69]:
#v20 successfull preparation for initial analysis (first complete paper draft). Decombining P070 and P222.
#v21 successfull preparation for general Cramér's analysis - includes decombining combined questions, but has errors for ['P018', 'P032', 'P182', 'P221']
#v22 trying to solve errors with ['P018', 'P032', 'P182', 'P221']
#v24 includes aditional variables for Stata: ['P012S', 'P014S', 'P015S', 'P029S']
#v26 works with the unique entries of Campo Comum in the 2017 survey (done by Inspe)
#v28 uses question B11="você mesmo" as the filter
#v29 Uses the full (individuals) database. includes two fields on location:
#----- Regiao (with neighbourhood)
#----- prot_status (indicating 0 for not protected and 1 for protected)#
#v30 Includes P043 and P043S
#v31 includes P043 = "yes" as P070op14
#v032 includes P018, with 'Outro(s)','NS/NR','Nenhum' = 0, 'Carro','Barco/canoa','Caminhão/camionete/van'= 1, 'Ônibus','Motocicleta', 'Bicicleta', 'Carroça', 'A pé'= 2
#-----also includes P097, P098 recoded
#v033 adjusts the classification of P018: large cargo capacity is available when answers include car or truck 
floodsText = floods
floodsText.CampoComum = floodsText.CampoComum.astype("str")
file_path = Path('./OUT/')
file_name = "WB_LWF_households_v2.csv" #"WB_LWF_floods_v33.csv"
floodsText.to_csv(file_path / file_name, sep=",",encoding='utf-8-sig')

In [35]:
floodsProtected = floodsText[floodsText.prot_status == 1]
file_path = Path('./OUT/')
file_name = "WB_LWF_floods_v33_protected.csv"
floodsProtected.to_csv(file_path / file_name, sep=",",encoding='utf-8-sig')

In [36]:
floodsUnprotected = floodsText[floodsText.prot_status == 0]
file_path = Path('./OUT/')
file_name = "WB_LWF_floods_v33_unprotected.csv"
floodsUnprotected.to_csv(file_path / file_name, sep=",",encoding='utf-8-sig')